#Contact{
    margin-top: 25vw;
    margin-bottom: 25vw;

}
h1{
    color: #DDD;
    font-size: 5rem;
    font-family: 'Perfograma';
}
h2{
    color: white;
    font-family: 'Perfograma';
}
#Contact a:link{
    text-decoration: none;
    color: #AAA;
}
#Contact a:visited{
    text-decoration: none;
    color: #777;
}

