/* * {cursor: none;} */

.NavigationBar:hover{
    color: #FFF;
}
.NavigationBar:visited{
    color: #FFF;
}
.NavigationBar:active{
    color: #FFF;
}

.nav-item:link{
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    font-size: 12px;
    font-family      : 'Major Mono Display', monospace;
    border-bottom: solid 1px transparent;
}
.nav-item:visited{
    color: #FFF;
}
.nav-item:active{
    color: #FFF;
}
.nav-item:hover{
    color: #FFF;
    border-bottom: solid 1px #FFF;
}
.nav-item.selected{
    border-bottom-color: #FFF;
}

