#Experiences{
    pointer-events: none;
}
.experience_content {
    width: 100%;
    height: 700px;
    position: relative;
    text-align: center;
    z-index: 5;
}
.dot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin: auto;
    background: white;
    margin-top: 35px;
    margin-bottom: 10px;
}
.line {
    width: 1px;
    height: 100%;
    margin: auto;
    background: white;
    position: relative;
}
.exp_holder {
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 20px;

}
.icon_circle {
    pointer-events: auto;
    background: url(./icon_circle.gif) no-repeat 50% 0;
    width: 70px;
    height: 70px;
    position: relative;
    margin: auto;
    text-align: center;
    /* margin-bottom: 300px; */
    z-index: 999;
}
.date_box {
    width: 50px;
    height: 25px;
    background: white;
    position: relative;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}
.date_txt {
    font-size: 19px;
    padding-top:4px;
    font-weight: 600;
    color: #0e0e0e;
}
.exp_mid {
    margin-top: 25px;
}

.exp_left {
    right: 245px;
    text-align: right;
}
.exp_title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFF;
}
.exp_work {
    font-size: 15px;
    color: #FFF;
}
.exp_right {
    left: 245px;
    text-align: left;
}
@media  (max-width : 678px){
    .exp_content{
        text-align: center;
        background: #000;
    }
}