body {
  /* margin: 0;
  padding: 0; */
  background: #000;
  font-family: sans-serif;
}
@font-face {
  font-family: 'Perfograma'; /*a name to be used later*/
  src: url('./Perfograma.otf'); /*URL to font*/
}
@font-face {
  font-family: 'Glamor'; /*a name to be used later*/
  src: url('./Glamor.otf'); /*URL to font*/
}